{% extends 'main.html' %}

{% block login %}
<Div class='form-actions'>
     <form action="/auth/login/" method="Post" class="" style="">
         {% csrf_token %}
         <label for="username">Имя пользователя</label>
         <input type="text" name="username" id="username">
         <label for="password">Пароль</label>
         <input type="password" name="password" id="password">
     {% if login_error %}
         <label class="error">{{ login_error }}</label>
     {% endif %}

    <br><input type="submit" class="btn" value="Войти">
     <a href="/auth/register/">Регистрация</a>
    </form>
</Div>
{% endblock %}